<div class="container my-5">
    <h2 class="text-center mb-5">TDM TIPS & TRICKS</h2>
    <div class="row g-4">
        <!-- Video 1 -->
        <div class="col-md-4">
            <div class="card video-card">
                <div class="video-container">
                    <iframe 
                        width="100%" 
                        height="200" 
                        src="https://www.youtube.com/embed/fW52M1OdvJ8" 
                        title="YouTube video player" 
                        frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                        allowfullscreen>
                    </iframe>
                </div>
                <div class="card-body">
                    <h5 class="video-title">Improve Your Close Range</h5>
                </div>
            </div>
        </div>

        <!-- Video 2 -->
        <div class="col-md-4">
            <div class="card video-card">
                <div class="video-container">
                    <iframe 
                        width="100%" 
                        height="200" 
                        src="https://www.youtube.com/embed/smykFa1K8Qk" 
                        title="YouTube video player" 
                        frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                        allowfullscreen>
                    </iframe>
                </div>
                <div class="card-body">
                    <h5 class="video-title">Zero Recoil Senstivity</h5>
                </div>
            </div>
        </div>

        <!-- Video 3 -->
        <div class="col-md-4">
            <div class="card video-card">
                <div class="video-container">
                    <iframe 
                        width="100%" 
                        height="200" 
                        src="https://www.youtube.com/embed/tr2m9W-UUMQ" 
                        title="YouTube video player" 
                        frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                        allowfullscreen>
                    </iframe>
                </div>
                <div class="card-body">
                    <h5 class="video-title">Become a Pro in TDM?</h5>
                </div>
            </div>
        </div>
    </div>
</div>
